.container {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
    max-width: 100vw !important;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.card {
    width: 22vw;
    height: 500px;
}
.card-img {
    height: 100% !important;
}
