:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    width: 100vw;
    font-weight: 400;

    color-scheme: light dark !important;
    color: rgba(255, 255, 255, 0.87) !important;
    background-color: #242424 !important;
}
