.pizza-title {
    text-align: center;
}
.pizza-image {
    width: 500px;
}
button {
    min-width: 100px;
    margin: 10px;
    font-weight: 700;
}
.delete {
    background-color: rgb(119, 0, 0);
}
.edit {
    background-color: rgb(0, 0, 114);
}
.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
}
.form > label {
    font-size: larger;
}
input {
    border-radius: 30px;
    padding: 10px;
}
