.Card.base {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #5f5f5f;
    width: 20vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.Card .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*
.Card .image {
}
.Card .title {
}
.Card .description {
}
*/
.Card .button:nth-child(even) {
    background-color: green;
    border-color: green;
}
.Card .button:last-child {
    background-color: red;
    border-color: red;
}
.Card .buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
